@font-face {
  font-family: 'Roboto';
  src: url('~static/fonts/Roboto-Regular.woff2') format('woff2'),
    url('~static/fonts/Roboto-Regular.woff') format('woff'),
    url('~static/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~static/fonts/Roboto-Italic.woff2') format('woff2'),
    url('~static/fonts/Roboto-Italic.woff') format('woff'),
    url('~static/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('~static/fonts/Roboto-Bold.woff2') format('woff2'),
    url('~static/fonts/Roboto-Bold.woff') format('woff'),
    url('~static/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~static/fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('~static/fonts/Roboto-BoldItalic.woff') format('woff'),
    url('~static/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
