.notes {
  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-flow: dense;
    
    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    
    @include mobile {
      display: block;
    }
  }

  &__item {
    display: flex;
    @include mobile {
      & + & {
        margin-top: 2rem;
      }
    }
  }

  &__head {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 8rem;
    background: $white;
    border-bottom: 1px solid transparent;
    transition: border-color $t;
    z-index: 5;

    @include mobile {
      height: 7rem;
    }

    &.isSidebarOpen {
      @include desktop {
        >.container {
          .title {
            transform: translate3d(28rem, 0, 0);
          }
        }
      }
      @include mobile {
        >.container {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
    
    &.isScrolled, &.isSidebarOpen {
      border-color: $bordergray;
    }

    >.container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      padding-top: 0.25rem;
      padding-bottom: 0;
      transition: opacity .3s $easeOutCubic;
      @include desktop {
        justify-content: space-between;
      }
    }
    .title {
      display: none;
      margin: 0;
      font-size: 2.5rem;
      color: $gray;
      transition: transform 0.3s $easeOutCubic;
      @include desktop {
        display: block;
      }
    }
  }

  &__head-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__head-info {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.6rem;
    padding-right: 4rem;
    margin-right: 4rem;
    opacity: 0.5;
    color: $gray;

    @include mobile {
      padding-right: 3rem;
      margin-right: 1rem;
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
    }

    .preloader {
      position: absolute;
      right: 1rem;
      top: calc(50% - 1rem);
      width: 2rem;
      height: 2rem;
      @include mobile {
        right: 0;
      }

      &::before {
        content: '';
        position: static;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__add {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $gray;
    opacity: 0.5;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s $easeOutCubic;
    &:active {
      opacity: 1;
    }
    @include desktop {
      &:hover {
        opacity: 1;
      }
    }
    @include mobile {
      font-size: 1.6rem;
    }
  }

  &__add-icon {
    margin: 0 1rem 0 0;
    font-size: 0;
    color: $gray;
    transition: color $t;
    @include desktop {
      opacity: 0.5;
    }
    @include mobile {
      opacity: 1;
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}